* {box-sizing: border-box}

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    background-color: #23424a;;
    color: white;

    width: 80%;
    max-width: 600px;
    margin: 0 auto;

    padding: 5em; 
}
